apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      serviceAccountName: nginx-sa
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
          readOnly: true
        - name: nginx-my-index
          mountPath: /usr/share/nginx/html/my-index.html
          subPath: my-index.html
          readOnly: true
      volumes:
      - name: nginx-conf
        configMap:
          name: nginx-cm
          items:
            - key: nginx.conf
              path: nginx.conf
      - name: nginx-my-index
        configMap:
          name: nginx-my-index
          items:
            - key: my-index.html
              path: my-index.html
